.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.table {
    min-width: min-content;
    position: relative;
}

.headers {
    display: flex;
    padding: 10px;
}

.headers div {
    width: 100%;
}

.contents {
    width: 100%;
    height: 100%;
    overflow: hidden auto;
    padding: 10px;
}

.contents div {
    display: flex;
    width: 100%;
}

.page-links {
    padding-top: 20px;
    text-align: center;
}

.page-links a {
    padding: 2px;
}

.page-links div {
    display: inline;
    padding: 5px;
    border-radius: 19px;
    background: #ffeba0;
}

.filter {
    display: flex;
}

.filter button {
    border: 0;
    background: inherit;
    cursor: pointer;
}

.filter button .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: gray;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    margin: 10px;
    padding: 5px 0;
    position: absolute;
}

.filter button:hover .tooltiptext {
    visibility: visible;
}